.product-name-row-div {
    display: flex;
    justify-content: left;
    align-items: end;
    gap: 26.79px;
}

.category-row-div {
    display: flex;
    justify-content: left;
    align-items: end;
    gap: 26.79px;
}

.admin-shop-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 1124px;
    border-radius: 26px;
    border: 1px solid #D6D6D6;
    background: #FFF;
    padding-bottom: 44px;
    box-sizing: border-box;
    padding-left: 69px;
    padding-top: 50px;
    padding-right: 69px;
    margin-bottom: 80px;
}

.gadget-info-input-row-div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin-top: 21px;
}


.gadget-info-input {
    width: 350px;
    height: 53px;
    padding: 0;
    outline: none;
    border-radius: 10px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    box-sizing: border-box;
    color: #B0A9A9;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #FFF;
    padding-left: 16px;
}

.gadget-info-div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: end;
    gap: 29px;
    margin: 0;
}

.admin-shop-labels {
    color: var(--grey-800, #262E36);
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; 
    letter-spacing: -0.3px;
    text-align: left;
}

.secondary-images-div {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 25.42px;
    height: 76px;
    margin-top: 16px;
}

.secondary-images-whole-div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 17px;
}   

.primary-image-div {
    height: 76px;
    margin-top: 16px;
}

.primary-image-whole-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 17px;
}

.admin-shop-page-container h1 {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}

.admin-shop-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gadget-info-label {
    margin-top: 17px;
}

.publish-btn-div {
    display: flex;
    justify-content: center;
    width: 100%;
}
