.forgot-password-flow-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: radial-gradient(70.71% 70.71% at 50% 50%, #FBFBFB 47.02%, rgba(250, 250, 250, 0.00) 100%);
}

.forgot-password-fragment {
    margin-top: 115px;
}
