@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Inter:wght@100;300;500;700&family=Lato:wght@900&family=Plus+Jakarta+Sans:wght@400;600&family=Poppins:wght@500&family=Roboto&display=swap');



#product-info-top-part-container {
    height: 626px;
    display: flex;
    align-items: flex-start;
}

#secondary-images-div {
    width: 496px;
    height: 71px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

#product-info-images-div {
    width: 496px;
    margin-top: 87px;
    margin-left: 232px;
}

#gadget-info-div {
    width: 343px;
    display: flex;
    flex-direction: column;
    margin-top: 103px;
    margin-left: 157px;
}

#gadget-info-div h1 {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 179.114%; 
    max-width: 343px;
    text-align: left;
    margin: 0;
}

#benfits-div {
    height: 20px;
    width: 100%;
    display: flex;
    gap: 32px;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 11px;
}

#benfit-div {
    height: 20px;
    display: flex;
    gap: 4px;
}

#benfits-div img {
    display: inline;
}

#benfits-div p {
    margin: 0;
    display: inline;
    color: var(--neutral-gray-717171, #717171);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#availability-div {
    width: 202.673px;
    height: 23px;
    display: flex;
    align-items: center;
    margin-top: 12px;
}

#availability-div p {
    color: #232323;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

#availability-div img {
    height: 11px;
    width: 14px;
    margin-left: 19.08px;
}

#para-in-stock {
    color: #30BD57;
    padding-left: 14.59px;
}

#para-availability {
    padding-left: 7.25px;
}

#pro-info-gadget-info-div {
    margin-top: 24.5px;
}
